{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Galería de Arte "Grupo Cero"</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <link href="https://fonts.cdnfonts.com/css/snell-roundhand" rel="stylesheet">
    <link rel="icon" href="{% static 'imagenes/descarga-removebg-preview.ico' %}">
</head>
<body>
    
    <div class="menu_arriba">
        <nav class="navbar navbar-expand-lg"> 
            <div class="container-fluid">
              <img src="{% static 'imagenes/descarga-removebg-preview.png' %}" alt="GrupoCero-logo" width="50px" height="50px">
              <a class="text-light navbar-brand" href="{% url 'inicio' %}">Grupo Cero</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="text-light nav-link active" aria-current="page" href="{% url 'inicio' %}">Inicio</a></li>
                    <li class="nav-item"><a class="text-light nav-link" href="{% url 'nosotros' %}" >Nosotros</a></li>
                    <li class="nav-item"><a class="text-light nav-link" href="{% url 'obras' %}" >Obras</a></li>
                    <li class="nav-item"><a class="text-light nav-link" href="{% url 'formulario' %}">Devoluciones</a></li>
                    <li class="nav-item"><a class="text-light nav-link" href="{% url 'api' %}" >Cockteles</a>


                    <li class="nav-item"><a class="text-light nav-link" href="{% url 'listar_productos' %}">Lista de Productos</a></li>
                    <li class="nav-item"><a class="text-light nav-link" href="{% url 'crear_producto' %}">Publicar obra</a></li>
                    
                </ul> 
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                    <div class="boton_inicer">
                        {% if user.is_authenticated %}
                            <a class="btn btn-primary" href="{% url 'logout' %}">Cerrar sesión</a>
                        {% else %}
                            <a class="btn btn-primary" href="{% url 'login' %}">Iniciar sesión</a>
                        {% endif %}
                    </div>
                    <div class="boton_inicer">
                            <a class="btn btn-primary" href="{% url 'tienda' %}">Carrito</a>
                    </div>
                </form>  

              </div>
            </div>
        </nav>
    </div>
    <main>
        <div>
            {% block content %}
            {% endblock %}
        </div>
    </main>
    <div class="footer"> 
        <div class="container-fluid">
          <div class="row p-5 p-2 bg-secondary text-white">
        <!-- creaccion parte izquierda con el nombre de la empresa y la direcion donde esta ubicada-->        
              <div class="col-xs-12 col-md-6 col-lg-3">
                  <p class="h3">Grupo Cero</p>
                  <p >Arturo Prat 599, Coihueco</p>
                  <img src="{% static 'imagenes/Logo_DuocUC.png' %}" alt="douc-logo" width="100px" height="50px">
              </div>
  
        <!-- creaccion de la columana  de las politicas de la empresa-->        
              <!-- creaccion de la columana  de las politicas de la empresa--> 


             <div class="col-xs-12 col-md-6 col-lg-3">
                <p class="h5">Politicas</p>
                <div class="mb-2">
                    <a class="text-white text-decoration-none" href="{% url 'politicasdeprivacidad' %}"> Politicas de Privacidad</a>
                </div>
                <div class="mb-2">
                    <a class="text-white text-decoration-none" href="{% url 'politicasdedevolucion' %}"> Politicas de devolucion</a>
                </div>
                <div class="mb-2">
                    <a class="text-white text-decoration-none" href="{% url 'politicasdeenvio' %}"> Terminos y servicio</a>
                </div>
                <div class="mb-2">
                    <a class="text-white text-decoration-none" href="{% url 'terminosyservicios' %}"> Politicas de envio</a>
                </div>
  
              </div>
        <!-- creaccion de la columa de los contractos de la empresa -->        
              <div class="col-xs-12 col-md-6 col-lg-3">
                  <p class="h5">Contactos</p>
                  <div class="mb-2">
                      <a class="text-white text-decoration-none" href="https://www.facebook.com/profile.php?id=100091520957958"> <img src="{% static 'imagenes/Facebook_f_logo.png' %}" alt="facebook-logo" width="30px" height="30px"> Facebook</a>
                  </div>
                  <div class="mb-2">
                      <a class="text-white text-decoration-none" href="https://www.instagram.com/grupoceroarte/"> <img src="{% static 'imagenes/Instagram-Icon.png' %}" alt="instagram--logo" width="30px" height="30px"> Instagram</a>
                  </div>
                  <div class="mb-2">
                      <a class="text-white text-decoration-none" href="https://twitter.com/artecero160805"><img src="{% static 'imagenes/Twitter-logo.png' %}" alt="twitter-logos" width="30px" height="30px"> Twitter</a>
                  </div>
                  <div class="mb-2">
                      <a class="text-white text-decoration-none" href="https://www.linkedin.com/in/arte-cero-4a4946271/"><img src="{% static 'imagenes/linkedin-icon.png' %}" alt="linkedin -logos" width="30px" height="30px"> Linkedin</a>
                  </div>
                  <div  class="mb-2">
                    <a class="text-white text-decoration-none">Correo: grupoceroarte@gmail.com</a>
                  </div>
              </div>
        <!-- creaccion de copyright y de los derechos de autor-->        
                <div class="col-x-12 pt-4">
                  <p class="text-white text-center"> Copyright - All right reserved © 2023</p>
  
                </div>
            </div>
        </div>
      </div>
    
</body>
</html>
