{% extends 'artgallery/base.html' %}
{% load static %}
{% block content %} 
  
  <!DOCTYPE html>
  <html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Sobre Nosotros</title>
      <link rel="icon" href="{% static 'imagenes/descarga-removebg-preview.ico' %}">
      <link rel="stylesheet" href="{% static 'css/styles.css' %}">
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
      <link href="https://fonts.cdnfonts.com/css/snell-roundhand" rel="stylesheet">

      
  </head>
  <body  class="pag">
    
  <!----------------------------------------------   historia de la organizacion------------------------------------------------->
    
    <div class="textopoli">
      <div class="infbody">
          <h2>
            <u>
              Nuestra Historia
            </u>
          </h2>
            <div class="infbody">
              <p>Galería "GRUPO CERO" se funda en abril de 2023 como un espacio de arte moderno y vanguardista, destinado a la exhibición de nuevos y consagrados talentos contemporáneos, 
                tanto a nivel nacional como internacional.Se destaca por ser un lugar abierto a distintas disciplinas artísticas, tales como; pintura, escultura, instalaciones y fotografía. 
                Desde sus comienzos, Matias Duran & Kevin Muñoz, Directores de Galería GrupoCero; ha realizado diversos proyectos culturales tanto en Chile como el extranjero, con el fin de dar a 
                conocer el talento artístico fuera de sus fronteras, impulsando el arte nacional más allá de nuestras fronteras promoviendo artistas locales. 
              </p>
            </div>
      </div>
  <!------------------------------------------------------   Mision de la organizacion------------------------------------------------->
      <div class="infbody">
        <h2>
          <u>
            Nuestra Mision
          </u>
        </h2>
          <div class="infbody">
            <p>Nuestra mision como galeria de arte y es compartir la pasion de nuestros artistas locales e internacionales y mostrar el talento que tiene chile para el mundo, hacer que artistas con gran habilidad 
              y tecnica se ganen un espacio y el reconocimiento que se merecen a nivel nacional y mundial, asi potenciando este tipo de diciplina en el pais haciendo asi que cada vez 
              mas jovenes se involucren en este tan bello pasatiempo y lo mas importante que vivan de lo que les apasiona. 
            </p>
          </div>
      </div>


      <!----------------------------------------------   vision de la organizacion   ------------------------------------------------->
      <div class="infbody">
        <h2>
          <u>
            Nuestra Vision
          </u>
        </h2>
          <div class="infbody">
            <p> Nuestra vision para los años venideros es ver un gran crecimiento de artistas, trabajos a escala mundial y ser una de las galerias de arte mas reconocida a nivel nacional e internacional, 
              especializada en venta de arte y sponsor de jovenes con talento y dedicacion por el excelencia.
            </p>
          </div>
      </div>
    <div>
      
    
  <!---------------------------------------------------- link para javascript ----------------------------------------------------->    
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>

  </body>
  </html>
{% endblock %}