{% extends 'artgallery/base.html' %}
{% load static %}
{% block content %}    
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Terminos y Servicios</title>
        <!-- liks donde esta relacionado la carpeta css, bootstrap y el estilo de la letra del eslogan-->    
        <link rel="icon" href="{% static 'imagenes/descarga-removebg-preview.ico' %}">
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
        <link href="https://fonts.cdnfonts.com/css/snell-roundhand" rel="stylesheet">
  

    </head>
    <body class="pag">

    <!-------------------------------------------- titulo de la paguina ------------------------------------------------>
    <div class="Eslogan" >
    <h1>
    <u>
    Terminos y Servicios
    </u>
    </h1>
    </div>  
    <!-------------------------------------------- explicacion de la terminos y servicios --------------------------->
    <div class="infbody">
        <p>
            <h5>INFORMACIÓN GENERAL</h5>
        </p>

        <p>
            Este sitio web es operado por Grupo Cero. En todo el sitio, los términos <br>
            “nosotros”, “nos” y “nuestro” se refieren a www.GrupoCero.com. Grupo Cero <br>
            ofrece este sitio web, incluyendo toda la información, herramientas y servicios <br>
            disponibles para ti en este sitio, el usuario, está condicionado a la <br>
            aceptación de todos los términos, condiciones, políticas y notificaciones aquí establecidos. <br>
        </p>

        <p>
            Al visitar nuestro sitio y/o comprar algo de nosotros, participas en nuestro “Servicio” <br>
            y aceptas los siguientes términos y condiciones (“Términos de Servicio”, “Términos”), <br>
            incluidos todos los términos y condiciones adicionales y las políticas a las que se <br>
            hace referencia en el presente documento y/o disponible a través de hipervínculos. <br>
            Estas Condiciones de Servicio se aplican a todos los usuarios del sitio, incluyendo <br>
            si limitación a usuarios que sean navegadores, proveedores, clientes, comerciantes, <br>
            y/o colaboradores de contenido.
        </p>

        <p>
            Por favor, lee estos Términos de Servicio cuidadosamente antes de acceder o utilizar <br>
            nuestro sitio web. Al acceder o utilizar cualquier parte del sitio, estás aceptando <br>
            los Términos de Servicio. Si no estás de acuerdo con todos los términos y condiciones <br>
            de este acuerdo, entonces no deberías acceder a la página web o usar cualquiera de los <br>
            servicios. Si las Términos de Servicio son considerados una oferta, la aceptación está <br>
            expresamente limitada a estos Términos de Servicio.
        </p>

        <p>
            Cualquier función nueva o herramienta que se añadan a la tienda actual, también estarán <br>
            sujetas a los Términos de Servicio. Puedes revisar la versión actualizada de los Términos <br>
            de Servicio, en cualquier momento en esta página. Nos reservamos el derecho de actualizar, <br>
            cambiar o reemplazar cualquier parte de los Términos de Servicio mediante la publicación <br>
            de actualizaciones y/o cambios en nuestro sitio web. Es tu responsabilidad chequear esta <br>
            página periódicamente para verificar cambios. Tu uso contínuo o el acceso al sitio web después <br> 
            de la publicación de cualquier cambio constituye la aceptación de dichos cambios. 
        </p>

        <p>
            Nuestra tienda se encuentra alojada en Shopify Inc. Ellos nos proporcionan la plataforma de <br>
            comercio electrónico en línea, que nos permite venderte nuestros productos y servicios.
        </p>

        <p>
            <h5>SECCIÓN 1 - TÉRMINOS DE LA TIENDA EN LÍNEA</h5>
        </p>
        
        <p>
            Al utilizar este sitio, declaras que tienes al menos la mayoría de edad en tu estado o provincia <br>
            de residencia, o que tienes la mayoría de edad en tu estado o provincia de residencia y que nos has <br>
            dado tu consentimiento para permitir que cualquiera de tus dependientes menores use este sitio.
        </p>

        <p>
            No puedes usar nuestros productos con ningún propósito ilegal o no autorizado tampoco puedes, en el uso del <br>
            Servicio, violar cualquier ley en tu jurisdicción (incluyendo pero no limitado a las leyes de derecho de autor).
        </p>

        <p>
            No debes transmitir gusanos, virus o cualquier código de naturaleza destructiva.
        </p>

        <p>
            El incumplimiento o violación de cualquiera de estos Términos darán lugar al cese inmediato de tus Servicios.
        </p>

        <p>
            <h5>SECCIÓN 2 - CONDICIONES GENERALES</h5>
        </p>    

        <p>
            Nos reservamos el derecho de rechazar la prestación de servicio a cualquier persona, por cualquier motivo y en cualquier momento.
        </p>

        <p>
            Entiendes que tu contenido (sin incluir la información de tu tarjeta de crédito), puede ser transferida <br>
            sin encriptar e involucrar (a) transmisiones a través de varias redes; y (b) cambios para ajustarse o adaptarse <br> 
            a los requisitos técnicos dé conexión de redes o dispositivos. La información de tarjetas de crédito está siempre <br>
            encriptada durante la transferencia a través de las redes.
        </p>

        <p>
            Estás de acuerdo con no reproducir, duplicar, copiar, vender, revender o explotar cualquier parte del Servicio, <br>
            uso del Servicio, o acceso al Servicio o cualquier contacto en el sitio web a través del cual se presta el servicio, <br> 
            sin el expreso permiso por escrito de nuestra parte.
        </p>
            
        <p>
            Los títulos utilizados en este acuerdo se incluyen solo por conveniencia y no limita o afecta a estos Términos.
        </p>

        <p>
            <h5>SECCIÓN 3 - EXACTITUD, EXHAUSTVIDAD Y ACTUALIDAD DE LA INFORMACIÓN</h5>
        </p>

        <p>
            No nos hacemos responsables si la información disponible en este sitio no es exacta, completa o actual. <br>
            El material en este sitio es provisto solo para información general y no debe confiarse en ella o utilizarse <br> 
            como la única base para la toma de decisiones sin consultar primeramente, información más precisa, completa u oportuna. <br> 
            Cualquier dependencia em el materia de este sitio es bajo su propio riesgo.
        </p>

        <p>
            Este sitio puede contener cierta información histórica. La información histórica, no es necesariamente actual y es provista <br>
            únicamente para tu referencia. Nos reservamos el derecho de modificar los contenidos de este sitio en cualquier momento, pero <br>
            no tenemos obligación de actualizar cualquier información en nuestro sitio. Aceptas que es tu responsabilidad de monitorear <br>
            los cambios en nuestro sitio.
        </p>

        <p>
            <h5>SECTION 4 - MODIFICACIONES AL SERVICIO Y PRECIOS</h5>
        </p>

        <p>
            Los precios de nuestros productos están sujetos a cambio sin aviso.
        </p>

        <p>
            Nos reservamos el derecho de modificar o discontinuar el Servicio (o cualquier parte del contenido) <br>
            en cualquier momento sin aviso previo.
        </p>

        <p>
            No seremos responsables ante ti o alguna tercera parte por cualquier modificación, cambio de precio, suspensión <br>
            o discontinuidad del Servicio.
        </p>

        <p> 
            <h5>SECCIÓN 5 - PRODUCTOS O SERVICIOS (si aplicable)</h5>
        </p>

        <p>
            Ciertos productos o servicios pueden estar disponibles exclusivamente en línea a través del sitio web. Estos productos <br>
            o servicios pueden tener cantidades limitadas y estar sujetas a devolución o cambio de acuerdo a nuestra política de devolución <br>
            solamente.
        </p>

        <p>
            Hemos hecho el esfuerzo de mostrar los colores y las imágenes de nuestros productos, en la tienda, <br>
            con la mayor precisión de colores posible. No podemos garantizar que el monitor de tu computadora muestre <br>
            los colores de manera exacta.
        </p>

        <p>
            Nos reservamos el derecho, pero no estamos obligados, para limitar las ventas de nuestros productos o servicios <br>
            a cualquier persona, región geográfica o jurisdicción. Podemos ejercer este derecho basados en cada caso. Nos reservamos <br>
            el derecho de limitar las cantidades de los productos o servicios que ofrecemos. Todas las descripciones de productos o <br>
            precios de los productos están sujetos a cambios en cualquier momento sin previo aviso, a nuestra sola discreción. <br>
            Nos reservamos el derecho de discontinuar cualquier producto en cualquier momento. Cualquier oferta de producto o servicio <br>
            hecho en este sitio es nulo donde esté prohibido.
        </p>

        <p>
            No garantizamos que la calidad de los productos, servicios, información u otro material comprado u obtenido por ti cumpla <br>
            con tus expectativas, o que cualquier error en el Servicio será corregido.
        </p>

    </div>

    <!-------------------------------------------- creaccion del footer ------------------------------------------------>
    <div class="footer"> 
        <div class="container-fluid">
        <div class="row p-5 p-2 bg-secondary text-white">
    <!-- creaccion parte izquierda con el nombre de la empresa y la direcion donde esta ubicada-->        
            <div class="col-xs-12 col-md-6 col-lg-3">
                <p class="h3">Grupo Cero</p>
                <p >Arturo Prat 599, Coihueco</p>
                <img src="imagenes/Logo_DuocUC.png" alt="douc-logo" width="100px" height="50px">
            </div>
    
    <!-- creaccion de la columana  de las politicas de la empresa-->        
            <div class="col-xs-12 col-md-6 col-lg-3">
                <p class="h5">Politicas</p>
                <div class="mb-2">
                    <a class="text-white text-decoration-none" href="politicasdeprivacidad.html"> Politicas de Privacidad</a>
                </div>
                <div class="mb-2">
                    <a class="text-white text-decoration-none" href="politicasdedevolucion.html"> Politicas de devolucion</a>
                </div>
                <div class="mb-2">
                    <a class="text-white text-decoration-none" href="terminosyservicios.html"> Terminos y servicio</a>
                </div>
                <div class="mb-2">
                    <a class="text-white text-decoration-none" href="politicasdeenvio.html"> Politicas de envio</a>
                </div>
    
            </div>
    <!-- creaccion de la columa de los contractos de la empresa -->        
            <div class="col-xs-12 col-md-6 col-lg-3">
                <p class="h5">Contactos</p>
                <div class="mb-2">
                    <a class="text-white text-decoration-none" href="https://www.facebook.com/profile.php?id=100091520957958"> <img src="imagenes/Facebook_f_logo.png" alt="facebook-logo" width="30px" height="30px"> Facebook</a>
                </div>
                <div class="mb-2">
                    <a class="text-white text-decoration-none" href="https://www.instagram.com/grupoceroarte/"> <img src="imagenes/Instagram-Icon.png" alt="instagram--logo" width="30px" height="30px"> Instagram</a>
                </div>
                <div class="mb-2">
                    <a class="text-white text-decoration-none" href="https://twitter.com/artecero160805"><img src="imagenes/Twitter-logo.png" alt="twitter-logos" width="30px" height="30px"> Twitter</a>
                </div>
                <div class="mb-2">
                    <a class="text-white text-decoration-none" href="https://www.linkedin.com/in/arte-cero-4a4946271/"><img src="imagenes/linkedin-icon.png" alt="linkedin -logos" width="30px" height="30px"> Linkedin</a>
                </div>
                <div  class="mb-2">
                <a class="text-white text-decoration-none">Correo: grupoceroarte@gmail.com</a>
                </div>
            </div>
    <!-- creaccion de copyright y de los derechos de autor-->        
            <div class="col-x-12 pt-4">
                <p class="text-white text-center"> Copyright - All right reserved © 2023</p>
    
            </div>
        </div>
        </div>
    </div>
    
    <!---------------------------------------------------- link para javascript ----------------------------------------------------->    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>

    </body>
    </html>
{% endblock %}